In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
from scipy import stats
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
import xgboost as xgb
import lightgbm as lgb

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
%matplotlib inline

In [2]:
sales_train = pd.read_csv('sales_train.csv')
test = pd.read_csv('test.csv')
items = pd.read_csv('items.csv')
item_categories = pd.read_csv('item_categories.csv')
shops = pd.read_csv('shops.csv')
sample = pd.read_csv('sample_submission.csv')

In [3]:
print(sales_train.shape)
sales_train.head()

(2935849, 6)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [4]:
print(test.shape)
test.head()

(214200, 3)

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [5]:
print(shops.shape)
shops.head()

(60, 2)

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [6]:
print(items.shape)
items.head()

(22170, 3)

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [7]:
print(item_categories.shape)
item_categories.head()

(84, 2)

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [8]:
sample.head()

   ID  item_cnt_month
0   0             0.5
1   1             0.5
2   2             0.5
3   3             0.5
4   4             0.5

In [9]:
# train = pd.merge(left=sales_train, right=items, on='item_id')
# train = pd.merge(left=train, right=shops, on='shop_id')
# train = pd.merge(left=train, right=item_categories, on='item_category_id')
train = (sales_train.join(items, on='item_id', rsuffix='_')
         .join(shops, on='shop_id', rsuffix='_')
         .join(item_categories, on='item_category_id', rsuffix='_'))
train.drop(['item_id_', 'shop_id_', 'item_category_id_'], axis=1, inplace=True)

In [10]:
print(train.shape)
train.head()

(2935849, 10)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,shop_name,item_category_name
0,02.01.2013,0,59,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37,"Ярославль ТЦ ""Альтаир""",Кино - Blu-Ray
1,03.01.2013,0,25,2552,899.00,1.0,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
2,05.01.2013,0,25,2552,899.00,-1.0,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
3,06.01.2013,0,25,2554,1709.05,1.0,DEEP PURPLE Who Do You Think We Are LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
4,15.01.2013,0,25,2555,1099.00,1.0,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,"Москва ТРК ""Атриум""",Музыка - CD фирменного производства

In [11]:
print('Min date from train set:', train['date'].min())
print('Max date from train set:', train['date'].max())

Min date from train set: 01.01.2013
Max date from train set: 31.12.2014

# Check nulls

In [12]:
train.isnull().sum()

date                  0
date_block_num        0
shop_id               0
item_id               0
item_price            0
item_cnt_day          0
item_name             0
item_category_id      0
shop_name             0
item_category_name    0
dtype: int64

# Data Leakages

We are gonna use 'shop id' and 'item id' to get the data leakages

In [13]:
test_shop_id = test['shop_id'].unique()
test_item_id = test['item_id'].unique()
# get the rows if the shop ids in train and test are the same
clean_train = train[train['shop_id'].isin(test_shop_id)]
# get the rows if the item ids in train and test are the same
clean_train = train[train['item_id'].isin(test_item_id)]
train.shape, clean_train.shape

((2935849, 10), (1446006, 10))

# Data Cleaning

In [14]:
train = train[train['item_price'] > 0]
train.shape

(2935848, 10)

# Data Proccessing

- I'm dropping the text features cuz I'm not gonna do anything with them.
- We are asked to predict total sales for every product and store in the next month, and our data is given by day, so let's remove unwanted columns and aggregate the data by month.

In [15]:
# Select only useful features.
train_monthly = clean_train[['date', 'date_block_num',
                          'shop_id', 'item_category_id', 
                          'item_id', 'item_price', 'item_cnt_day']]
print(train_monthly.shape)
train_monthly.head()

(1446006, 7)

,date,date_block_num,shop_id,item_category_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,37,22154,999.0,1.0
10,03.01.2013,0,25,55,2574,399.0,2.0
11,05.01.2013,0,25,55,2574,399.0,1.0
12,07.01.2013,0,25,55,2574,399.0,1.0
13,08.01.2013,0,25,55,2574,399.0,2.0